*{
    padding: 0;margin: 0;
} 
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    background-image: url(./img/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5rem;
}
header{
     margin: auto;
    width: 70%;
    margin-bottom: 15rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.left,.right{
    width: 30%;
}
.center{
    width: 70%;
}
.center ul{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.center ul li a{
    font-size: 22px;
    padding: 10px;
    color: #fff;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.left p{
    font-size: 27px;
    color:#fff;
}
.right button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 13px;
    border:none;
    box-shadow: 3px 3px 3px;
    background: #23A6F0;
    border-radius: 5px; 
}
.right button a{
    color: #fff;
    font-size: 15px;
}
/* main */
.main_center{
  width: 75%;
  margin: auto;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_left h2{
    font-size: 3rem;
    font-weight: 600;
    color:#fff;
    margin-bottom: 1.5rem;
}
.main_left p{
    font-size: 20px;
    color:#fff;
    margin-bottom: 1.5rem;
}
.button{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.button_left button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 13px;
    border:none;
    box-shadow: 3px 3px 3px;
    background: #23A6F0;
    border-radius: 10px; 
}
.button_left a, .button_right a{
    color: #fff;
    font-size: 15px;
}
.button_right button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 13px;
    border:none;
    box-shadow: 3px 3px 3px;
    border:1px solid #fff;
    background: none;
    border-radius: 10px; 
}

.main_left form{
    position: absolute;
    top: 12rem;
    right: 12rem;
    background: #fff;
    padding: 20px;
    border-radius:6px;
    border:none;
}
.main_left form h3{
    font-size: 22px;
    font-weight: 600;
}
label{
    font-size: 20px;
    padding-bottom: 50px;
}
input, select{
     font-size: 14px;
     border:0.5px solid #ccc;
     margin: 5px 0;
     width: 200px;
     border-radius:5px;
     box-shadow:2px 2px 2px;
     padding: 8px;
     color:#000;
}
select{
    width: 215px;
    background: #fff;
}
.main_left button{
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 15px;
    background: #23A6F0;
    border:none;
    border-radius:5px;
    box-shadow:3px 3px 3px;
}
.main_left button a{
    color:#fff;
}
/* laonding */
.laonding{
    margin-bottom: 5rem;
}
.laonding h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    opacity: 0.7;
}
.laonding .prob{
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 2rem;
}
.loadings{
    width: 70%;
    margin: auto;
}
.loanding_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loading_block{
    width: 32%;
    border:none;
    border-radius:8px;
    box-shadow:3px 3px 3px;
}
.loading_top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: #8EC2F2;
    margin-bottom: 30px;  
}
.top_left,.top_right{
    width: 45%;
}
.top_left img{
    width: 50%; 
    padding-left: 20px; 
}
.top_right p{
    text-align: center;
    color: #fff;
}
.loading_bottom p{
    opacity: 0.7;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: start;
    padding-left: 25px;
}

/* footer */
.footer_center{
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}
.footer_block{
    display: flex;
    justify-content: space-between;
}
.footer_item,.footer_items{
    width: 24%;
    /* border:1px solid; */
}
.footer_item li:first-child a{
    color:#000;
    font-size: 22px;
    line-height: 30px;
}
ul li{
    padding-bottom: 10px;
    font-size: 18px;
}   
ul li a{
    color:#000;
    opacity: 0.7;
}
.footer_items ul{
    display: flex;
    gap: 20px;
}
.footer_items ul li a{
    color: #23A6F0;
}
.footer_items p:first-child{
    color:#000;
    font-size: 22px;
    line-height: 30px;
    opacity: 0.7;
    margin-bottom: 10px;
}
.footer_items p{
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 10px;    
}
.author p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    opacity: 0.7;
}